**/node_modules

build/
asneardev/

docs/

.idea

/neardev/dev-account
/neardev/dev-account.env

near-workspaces/.near-credentials

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions