name: Sandbox
on: [push]
jobs:
    test-sandbox:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@master
              with:
                  repository: near/nearcore
            - uses: actions/cache@v2
              id: cache-sandbox  # give it a name for checking the cache hit-or-not
              with:
                path: ./target/  # what we cache: the folder
                key: cache-sandbox
                restore-keys: cache-sandbox
            - name: "Building near"
              run: make sandbox
              if: steps.cache-sandbox.outputs.cache-hit != 'true'
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '15'
            - name: 'Building contracts'
              working-directory: ./
              run: |
                  ls
            - name: 'Testing contracts'
              working-directory: ./
              run: |
                  node tests/nft.js
